<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'/>
    <title>Spring-a-Gram :: Upload your fav pics</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0"/>
    <script async="" data-main="/run.js" src="/bower_components/requirejs/require.js"></script>
    <link rel="stylesheet" href="/main.css"/>
</head>
<body>
    <header class="page wrapper">
        <h1>Spring-a-Gram</h1>
    </header>

    <section class="wrapper box box--tiny">

        Hello, <span th:text="${#authentication.name}">user</span>.
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Log Out"/>
        </form>

    </section>

    <div id="spinner" class="loader loader--responsive" style="">Loading...</div>


    <section class="wrapper box box--tiny">
        <h3>Snap a pic</h3>
        <div id="upload"></div>
    </section>

    <section class="wrapper box box--tiny">
        <h3>Add a gallery</h3>

        <form th:action="${newGallery.href}" th:object="${gallery}" method="post">
            <input type="text" th:field="*{description}"/>
            <input type="submit" class="btn btn--responsive"/>
        </form>
    </section>

    <div id="react"></div>

    <section class="wrapper">
        <div th:include="_links :: springone"/>
    </section>

</body>
</html>
