<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'/>
    <title>Spring-a-Gram :: Data Admin UI</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0"/>
    <script async="" data-main="/run.js" src="/bower_components/requirejs/require.js"></script>
    <link rel="stylesheet" href="/main.css"/>
</head>
<body>

    <header class="page wrapper">
        <h1>Spring-a-Gram Data Admin UI</h1>
    </header>

    <section class="wrapper box box--tiny">
        <p>This small UI provides a close-to-the-metal way to manage Spring-a-Gram data.</p>
    </section>

    <section class="wrapper box box--tiny">
        <h4>Upload</h4>
        <div id="upload"></div>
    </section>

    <section class="wrapper box box--tiny">
        <h4>Existing</h4>
        <div id="grid"></div>
    </section>

</body>
</html>