// Spring's palette (found on spring.io)
$spring-green: #6db33f;
$spring-black: #34302d;
$spring-antique-white: #F1F1F1;
$spring-white: #eee;

//$inuit-base-font-size:  12px;
$inuit-base-line-height:  18px;
$inuit-base-background-color: $spring-antique-white;

// Settings layer
@import "bower_components/inuit-defaults/settings.defaults";
@import "bower_components/inuit-responsive-settings/settings.responsive";

// Tools layer
@import "bower_components/inuit-functions/tools.functions";
@import "bower_components/inuit-mixins/tools.mixins";
@import "bower_components/inuit-responsive-tools/tools.responsive";

// Generic layer
@import "bower_components/inuit-normalize/generic.normalize";
@import "bower_components/inuit-box-sizing/generic.box-sizing";

@import "bower_components/inuit-page/base.page";

// Objects layer
$inuit-enable-layout--large: true;
@import "bower_components/inuit-layout/objects.layout";

$inuit-enable-media--large: true;
$inuit-enable-media--responsive: true;
@import "bower_components/inuit-media/objects.media";

$inuit-enable-btn--full: true;
$inuit-btn-background: $spring-green;
$inuit-btn-color: $spring-white;
@import "bower_components/inuit-buttons/objects.buttons";

// Trumps layer
@import "bower_components/inuit-widths/trumps.widths";
@import "bower_components/inuit-clearfix/trumps.clearfix";
@import "bower_components/inuit-widths-responsive/trumps.widths-responsive";

// Custom overrides

html {
  font-family:"Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
}

.page-top {
  border-top: $spring-green solid 4px;
  color: $spring-white;
  background-color: $spring-black;
  width: 100%;
  margin-top: 0em;
}