// Spring's palette (found on spring.io)
$spring-green: #6db33f;
$spring-black: #34302d;
$spring-antique-white: #F1F1F1;
$spring-white: #eee;

//$inuit-base-font-size:  12px;
$inuit-base-line-height:  18px;
$inuit-base-background-color: $spring-antique-white;

// Settings layer
@import "bower_components/inuit-defaults/settings.defaults";
@import "bower_components/inuit-responsive-settings/settings.responsive";

// Tools layer
@import "bower_components/inuit-functions/tools.functions";
@import "bower_components/inuit-mixins/tools.mixins";
@import "bower_components/inuit-responsive-tools/tools.responsive";

// Generic layer
@import "bower_components/inuit-normalize/generic.normalize";
@import "bower_components/inuit-box-sizing/generic.box-sizing";

@import "bower_components/inuit-page/base.page";

// Objects layer
$inuit-enable-layout--large: true;
@import "bower_components/inuit-layout/objects.layout";

$inuit-enable-media--large: true;
$inuit-enable-media--responsive: true;
@import "bower_components/inuit-media/objects.media";

$inuit-enable-btn--full: true;
$inuit-btn-background: $spring-green;
$inuit-btn-color: $spring-white;
@import "bower_components/inuit-buttons/objects.buttons";

$inuit-enable-box--tiny: true;
@import "bower_components/inuit-box/objects.box";

// Trumps layer
@import "bower_components/inuit-widths/trumps.widths";
@import "bower_components/inuit-clearfix/trumps.clearfix";
@import "bower_components/inuit-widths-responsive/trumps.widths-responsive";

// Custom overrides

// Plugin the Ubuntu font
html {
  font-family: 'Ubuntu', sans-serif;
}

// Dress up the top row of a "page"
.page-top {
  border-top: $spring-green solid 4px;
  color: $spring-white;
  background-color: $spring-black;
  width: 100%;
  margin-top: 0em;
}

// Add a small amount of padding at the bottom of a "page"
$inuit-base-spacing-unit--tiny: round($inuit-base-spacing-unit / 8);
.page-bottom {
  padding-bottom: $inuit-base-spacing-unit--tiny;
}

// Wrap a given block with insets so it isn't pushed to the edge of the browser
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding-right: 12px;
  padding-left: 12px;
}

// Fine tune the navbar at the top, so it shrinks on portable devices
h1 {
  @include media-query(portable) {
    margin: 0.1em 0;
  }
}

