<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" data-rave-meta="bower.json">
<head>
    <title>Spring-A-Gram :: Upload your fav pics</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script async="" data-main="run.js" src="node_modules/requirejs/require.js"></script>
    <link rel="stylesheet" href="/main.css" />
    <style>
        .thumbnail {
            width: 100px;
        }
    </style>
</head>
<body>
    <h2><a href="/">Spring-A-Gram: Upload your favorite pictures!</a></h2>

    <form id="upload">
        <p>File to upload: <input type="file" id="file" /></p>
        <p><input type="submit" value="Upload" /></p>
    </form>

    <form th:action="${newGallery.href}" th:object="${gallery}" method="post">
        <input type="text" th:field="*{description}" />
        <input type="submit" />
    </form>

    <h3>Galleries</h3>

    <div id="gallery"></div>

    <h3>Unlinked Images</h3>

    <div id="images" class="wrapper wrapper--wide"></div>

    <div th:include="_links :: springone" />

</body>
</html>
