<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring-A-Gram :: Upload your fav pics</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script data-main="run.js" src="requirejs/require.js"></script>
    <style>
        .thumbnail {
            width: 100px;
        }
        table {
            border-collapse: collapse;
        }
        td, th {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h2><a href="/">Spring-A-Gram: Upload your favorite pictures!</a></h2>

    <form action="#" id="upload">
        <p>File to upload: <input type="file" id="file" /></p>
        <p><input type="submit" value="Upload" /></p>
    </form>

    <div id="gallery"></div>

    <div id="images"></div>

    <div th:include="_links :: springone" />

</body>
</html>
