<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring-A-Gram :: Upload your fav pics</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="/webjars/jquery/2.0.3/jquery.js"></script>
    <script src="/jsclient/jquery"></script>
    <style>
        .thumbnail {
            width: 100px;
        }
    </style>
</head>
<body>
    <h2>Spring-A-Gram: Upload your favorite pictures!</h2>

    <form action="/" id="upload">
        <p>File to upload: <input type="file" id="file" /></p>
        <p><input type="submit" value="Upload" /></p>
    </form>

    <table>
        <tr><th>Filename</th><th>Image</th></tr>
        <tr th:each="item : ${items}">
            <td th:text="${item.name}"></td>
            <td><img th:src="${item.image}" class="thumbnail" /></td>
            <td><a href="javascript:void(0);" th:onclick="${'deletePic(' + item.id + ')'}">Delete</a></td>
        </tr>
    </table>

    <script src="application.js" type="application/javascript"></script>

</body>
</html>