<!DOCTYPE HTML>
<html>
<head>
    <title>Spring-a-Gram</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="curl/dist/curl-kitchen-sink/curl.js"></script>
    <script>
        curl.config({
            paths: {
                'jquery': 'jquery/dist/jquery.js',
                'jquery-mobile-js': {
                    location: 'jquery-mobile-bower/js/jquery.mobile-1.4.2',
                    config: {
                        load: 'curl/loader/legacy',
                        requires: ['jquery'],
                        exports: '$'
                    }
                }
            },
            packages: {
                when: { location: 'when', main: 'when' },
                rest: { location: 'rest', main: 'rest' }
            },
            'main': 'mobile'
        });
    </script>
</head>
<body>
    <div data-role="page" id="home">

        <div data-role="header" data-position="fixed">
            <a href="/index" data-icon="home" data-iconpos="notext"></a>
            <h1>Spring-a-Gram</h1>
            <a href="#upload-pic" data-icon="camera" data-iconpos="notext" class="ui-btn-right"></a>
        </div>

        <div data-role="content">
            <ul data-role="listview">
                <li><a href="#galleries">Galleries</a></li>
                <li><a href="#pictures">Pictures</a></li>
            </ul>
        </div>

    </div>

    <div data-role="page" id="galleries">
        <div data-role="header" data-position="fixed">
            <a href="/index" data-icon="home" data-iconpos="notext"></a>
            <h1>Spring-a-Gram</h1>
            <a href="#upload-pic" data-icon="camera" data-iconpos="notext" class="ui-btn-right"></a>
        </div>

        <div data-role="content" id="gallerylist"></div>

        <div data-role="popup" id="galleryOps">
            <ul data-role="listview" data-inset="true">
                <li data-role="list-divider">Choose an action</li>
                <li id="remove"><a href="/index#galleries">Remove</a></li>
            </ul>
        </div>
    </div>

    <div data-role="page" id="pictures">
        <div data-role="header" data-position="fixed">
            <a href="/index" data-icon="home" data-iconpos="notext"></a>
            <h1>Spring-a-Gram</h1>
            <a href="#upload-pic" data-icon="camera" data-iconpos="notext" class="ui-btn-right"></a>
        </div>

        <div data-role="content">
            <ul id="piclist" data-role="listview">
            </ul>
        </div>

        <div data-role="popup" id="view" data-overlay-theme="b" data-theme="b" data-corners="false">
            <a href="#pictures" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
            <img src="#" class="popphoto" style="max-height:512px;"/>
        </div>

        <div data-role="popup" id="pic_ops">
            <ul data-role="listview" data-inset="true">
                <li data-role="list-divider">Choose an action</li>
                <li><a href="#delete">Delete</a></li>
                <li><a href="#addToGallery">Add to Gallery</a></li>
            </ul>
        </div>

    </div>

    <div data-role="page" id="delete">
        <div data-role="header" data-position="fixed">
            <a href="/index" data-icon="home" data-iconpos="notext"></a>
            <h1>Spring-a-Gram</h1>
            <a href="#upload-pic" data-icon="camera" data-iconpos="notext" class="ui-btn-right"></a>
        </div>

        <div data-role="content">
            <h3>Are you sure you want to delete this picture?</h3>
            <ul data-role="listview">
                <li><a href="#" data-rel="back">Cancel</a></li>
                <li id="deleteConfirmed"><a href="/index#pictures">Delete</a></li>
            </ul>
        </div>
    </div>

    <div data-role="page" id="addToGallery">
        <div data-role="header" data-position="fixed">
            <h1>Spring-a-Gram</h1>
            <a href="#upload-pic" data-icon="camera" data-iconpos="notext" class="ui-btn-right"></a>
        </div>

        <div data-role="content">
            <h3>Pick the gallery</h3>
            <fieldset data-role="controlgroup">
                <input type="radio" name="gallery" id="gallery1" />
                <label for="gallery1">Gallery 1</label>
                <input type="radio" name="gallery" id="gallery2" />
                <label for="gallery2">Gallery 2</label>
            </fieldset>
            <input type="button" value="Add" />
        </div>
    </div>

</body>
</html>