<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring-A-Gram :: Upload your fav pics</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script data-main="../run.js" src="../requirejs/require.js"></script>
    <style>
        .thumbnail {
            width: 100px;
        }
        table {
            border-collapse: collapse;
        }
        td, th {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h2><a href="/">Spring-A-Gram: Upload your favorite pictures!</a></h2>

    <form action="#" id="upload">
        <p>File to upload: <input type="file" id="file" /></p>
        <p><input type="submit" value="Upload" /></p>
    </form>

    <table>
        <tbody>
            <tr><td th:text="${item.name}" /></tr>
            <tr><td><img th:src="${item.image}" /></td></tr>
            <tr><td><a th:href="'https://twitter.com/intent/tweet?button_hashtag=s2gx&amp;text=' + ${item.htmlUrl.href} + '%20was%20uploaded%20by%20https%3A%2F%2Fgithub.com%2Fgregturn%2Fspring-a-gram!%20See%20more%20at%20https%3A%2F%2F2014.event.springone2gx.com%2Fschedule%2Fsczbpf'"
                       class="twitter-hashtag-button" data-related="springcentral" target="_blank">
                Tweet me!
            </a></td></tr>
        </tbody>
    </table>

    <h3>See this app presented during SpringOne 2GX 2014 at
        <a href="https://2014.event.springone2gx.com/schedule/sczbpf" target="_blank">
            Spring Data REST - Data Meets Hypermedia
        </a>
    </h3>

</body>
</html>
