<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" data-rave-meta="bower.json">
<head>
    <title>Spring-A-Gram :: Upload your fav pics</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script async="" data-main="run.js" src="bower_components/requirejs/require.js"></script>
    <style>
        .responsive {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <h2><a href="/">Spring-A-Gram: Upload your favorite pictures!</a></h2>

    <form action="#" id="upload">
        <p>File to upload: <input type="file" id="file" /></p>
        <p><input type="submit" value="Upload" /></p>
    </form>

    <img class="responsive" th:src="${item.image}" />

    <a id="tweetOneImage">
        Tweet me!
    </a>

    <div th:include="_links :: nav" />

    <div th:include="_links :: springone" />

</body>
</html>
